<div class="container bg-dark" >
<nav class="navbar  navbar-expand-lg navbar-dark" style="background-color:232823">
    <a class="navbar-brand" href="#">LulaBazooka</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a href="/" class="btn btn-danger">Home</a>
            <a href="/signup" class="btn btn-danger">Signup!</a>
            <a href="/login" class="btn btn-danger">Login!</a>
            <a href="/index" class="btn btn-danger">Index!</a>
            <a href="/profile" class="btn btn-danger">profile!</a>
            <a href="/band-profile" class="btn btn-danger">Band Profile!</a>
            <a href="/edit-profile" class="btn btn-danger">Edit Profile!</a>
            <a href="/create-band" class="btn btn-danger">Create Band!</a>
        </ul>
    </div>
</nav>


{{#if user}}
<li>
    <a href="#profile">
        <img src="{{user.pic}}" alt="{{user.firstName}}" class="rounded-circle" width="50" height="50">
        <p>{{user.firstName}}</p>
    </a>
</li>
<li><a href="#logout">Logout</a></li>
{{else}}
<li><a href="/signup">Sign in</a></li>
<li><a href="/login"><button type="button">Login!</button></a></li>
{{/if}}
<div class="container"></div>
</div>