<div class="container text-center">
<div class = "app-info">
    <h5 class="mt-5">Find awesome rockers and even better bands</h5>
    <p class="mt-5">Sign in to see our discover page and find bands to play.Or create your own band and find members.</p>
</div>


<a href="/signup" class="mt-5">
    <button id="signin" class="rounded-btns-red btn wide-btn">Sign up</button>
</a>
<br>
<a href="/login" >
    <button id="login" class="rounded-btns-white btn mt-5 wide-btn">Rock in</button>
</a>
<footer id="footer" class="mt-5">
    A modern space to chill and find likeminded people to jam!And hey,you never what's going to happen.
</footer>
</div>