
<div class = "app-info">
    <h3>LulaBazooka</h3>
    <h5>Find awesome rockers and even better bands</h5>
    <p>Sign in to see our discover page to find bands to play in or to create a band and find players</p>
</div>


<a href="/signup">
    <button id="signin">Sign up</button>
</a>
<a href="/login">
    <button id="login">Log In</button>
</a>

<footer>
    
</footer>