
<div class = "app-info">
    <h3>LulaBazooka</h3>
    <h5>Find awesome rockers and even better bands</h5>
    <p>Sign in to see our discover page and find bands to play.Or create your own band and find members.</p>
</div>


<a href="/signup">
    <button id="signin" class="rounded-btns-red btn">Sign up</button>
</a>
<a href="/login">
    <button id="login" class="rounded-btns-white btn">Log On</button>
</a>

<footer class="mt-10rem">
    A modern space to chill and find likeminded people to jam!And hey,you never what's going to happen.
</footer>