{{!-- <section>
  <h2>Upload your photo</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="photo">
    <input type="submit" value="Save">
  </form>
</section> --}}
<div class="container mt-5">
<form action="/edit-profile" method="POST">
  <input class="form-check-input checks" type="checkbox" name="guitar">
  <label for="guitar" class="form-check-label">guitar</label><br>
  <input class="form-check-input checks" type="checkbox" name="bass">
  <label for="bass" class="form-check-label">bass</label><br>
  <input class="form-check-input checks" type="checkbox" name="drums">
  <label for="drums" class="form-check-label">drums</label><br>
  </div>
<button type="submit" class="btn rounded-btns-white mt-5">Update!</button>
</form>