<div class="container">
<form action="/login" autocomplete="off" method="POST">
  <label for="username" class="mt-5 mr-4">Username</label>
  <div class="searchbar">
  <input type="text" name="username" class="txtb search_input" placeholder="username">
  </div>
  <label for="password" class="mt-5 mr-4">Password</label>
  <div class="searchbar">
  <input type="password" name="password" class="txtb search_input" placeholder="password">
  </div>
<button type="submit" class="btn rounded-btns-red mt-5 mr-4">Rock On!</button>
</form>
</div>