<div class="container">
<h1> Hey {{profLoop.firstName}}...Sup?</h1>
Instruments:
<ol>
  {{#each profLoop.instruments}}
    <li><div>{{this}}</div></li>
  {{/each}}
</ol>
</div>
<div class="user-bands">
  <h6>Bands:</h6>
  <ul>
    {{#each profLoop.bands}}
      <li><div>{{this}}</div></li>
    {{/each}}
  </ul> 
  
  <a href="/create-band"><button type="submit" class="btn rounded-btns-red">Create A Band</button></a>
  <a href="/find-band"><button type="submit" class="btn rounded-btns-red">Join A Band</button></a>
</div>

<hr>
<div>
<a href="/edit-profile"><button type="submit" class="btn rounded-btns-red">Edit Your Rockfile!</button></a>

<a href="/logout"><button type="submit" class="btn rounded-btns-red">Rock Out!</button></a>
</div>

{{!-- <section>
  <h2>Upload your photo</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="photo">
    <input type="submit" value="Save">
  </form>
</section> --}}