<form action="/signup" method="POST">
  <label for="username"></label>
  <input type="text" name="username" required id="username" placeholder="username">
  <p id="username-validation"></p>
  <label for="password"></label>
  <input type="password" name="password" required id="password" placeholder="password">
<button type="submit">Create!</button>
</form>