<script src="/javascripts/script.js"></script>
<div class="container">
<form action="/signup" method="POST">
<div class="form-group row">
  <label for="username">Username!</label>
  <input type="text" name="username" required id="username" placeholder="username">
  <p id="username-validation"></p>
 <div class="form-group row">
    <label for="firstName" class="col-form-label">FirstName <small>Only Alphabetic Characters!</small></label>
    <input type="text" pattern="^[A-Za-z]+$" required name="firstName" placeholder="FirstName">
  </div>
  <div>
  </div>
  <input class="form-check-input" type="checkbox"  class="checks" name="guitar">
  <label for="guitar" class="form-check-label">guitar</label><br>
  <input class="form-check-input" type="checkbox"  class="checks" name="bass">
  <label for="bass" class="form-check-label">bass</label><br>
  <input class="form-check-input" type="checkbox"  class="checks" name="drums">
  <label for="drums" class="form-check-label">drums</label><br>
  <div>
  </div>
  <div>
      <label for="lastName">LastName <small>Only Alphabetic Characters!</small></label>
  </div>
  <div>
    <input type="text" pattern="^[A-Za-z]+$" required name="lastName" placeholder="LastName">
  </div>
  <div>
      <label for="email"></label>
  <input type="email" name="email" required id="email" placeholder="email">
  </div>
  <div>
  <label for="password">Password <small>At least 8 characters one uppercase one lowercase</small></label>
  <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password" required id="password" placeholder="password">
</div>
<button type="submit">Create!</button>
</form>
</div>
