body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  color: white!important;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1rem ;
}
input, select, textarea {
  color: rgb(255, 255, 255);
  }
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
 }

#page-title{
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  margin-bottom: 5rem;
  
}

.member{
  display: flex;
  justify-content: center;
}

/* .line{
  border: 3px solid rgb(255, 255, 255);
} */

hr.line { /* Not really supposed to work, but does */
  border: 0;
  height: 25px;
  width: 50vw;
  background-image: url('http://www.formget.com/wp-content/uploads/2014/12/type_3.png');
  background-repeat: no-repeat;
    background-position: center;
}
#band-titles{
  font-family: 'Bungee Inline', cursive;
}

#footer{
  bottom: 5rem;

}

::placeholder{
  color: white;
}

.rounded-inputs{
  border: rgb(92, 92, 92) 1px solid;
  height: 2.4rem;
  border-radius: 32px;
}

    