body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  color: white!important;
  font-family: 'Montserrat Alternates', sans-serif;
  
}
input, select, textarea {
  color: rgb(255, 255, 255);
  }
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
 }

.page-title{
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  margin-bottom: 5rem;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 26, 26), 0 0 0.2em rgb(255, 50, 211);
}
  .page-title{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(197, 0, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 120% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.member{
  display: flex;
  justify-content: center;
}

/* .line{
  border: 3px solid rgb(255, 255, 255);
} */

hr.line { /* Not really supposed to work, but does */
  border: 0;
  height: 25px;
  width: 100vw;
  background-image: url('http://www.formget.com/wp-content/uploads/2014/12/type_3.png');
  background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#band-titles{
  font-family: 'Bungee Inline', cursive;
  text-shadow: 0 0 3px rgb(255, 0, 0), 0 0 5px rgb(255, 255, 255);

}

#footer{
  bottom: 5rem;

}

::placeholder{
  color: white;
}

.rounded-inputs{
  border: rgb(92, 92, 92) 1px solid;
  height: 2.4rem;
  border-radius: 32px;
}

    