body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  color: white!important;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
}
a {
  color: #00B7FF; }

  input[type="button"]{
    width: 13rem;
    border-radius: 1;
  }

.rounded-btns-red{
  border-radius: 1.25rem;
  background-color: red;
  color: white;
}

.rounded-btns-white{
  border-radius: 1.25rem;
  background-color: white;
  color: red;
}

#page-title{
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  margin-bottom: 5rem;
}

#footer{
  bottom: 5rem;
 
}

.wide-btn{
  width: 100%;
  height: 5vh;
}

.txtb{
  margin: 20px 0;
  background: rgb(88, 88, 88);
  border-radius: 1.25;
}

::placeholder{
  color: white;
}

.rounded-inputs{
  border: rgb(92, 92, 92) 1px solid;
  height: 2.4rem;
  border-radius: 32px;
}
/* .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    width: 50vw;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 1rem;
    
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 50rem;
    caret-color:red;
    
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    } */

    