
{{#each userHbs}}
    <div class="member">
        <h2>{{firstName}}</h2>
        <p>{{instruments}}</p><br>
        <a href="/profile/{{_id}}"><button type="submit">Find out more about me!</button></a>
    </div>
{{/each}}